# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments / Secrets
.env
.env.*

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp
